/* HOME PAGE */
body {
    background-color: lightgray;
    margin: 0;

}

/*body.app{
    overflow: hidden;
}*/

nav a {
    text-decoration: none;  /* removes underline */
}

.nav-item a {
    display: flex;
    flex-direction: column;  /* stack vertically */
    align-items: center;     /* center icon + text */
    text-decoration: none;
    color: rgb(34, 34, 34);
    gap: 5px;                /* space between icon and label */
    line-height: 1;
}
.nav-item span {
    font-size: 12px;
    line-height: 1;
}
.nav-item i {
    font-size: 25px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;

    margin: 0;
    padding: 0;

    font-family: 'Baloo Bhaina 2';
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid #222;
}

.left,
.center,
.right {
    display:flex;
    flex:1;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    padding: 0px 40px;
}

.left {
    flex:1;
    justify-content: left;
    padding: 0px 0px;
    font-size: 40px;
}

.center {
    flex: 1;
    justify-content: center;
    padding: 0px 0px;
    font-size: 40px;
}

.gymOwners a {
    display: inline-block;
    padding: 0px 10px;
    border-radius: 35px;
    border: 2px solid rgb(34, 34, 34);
    background-color: rgb(34, 34, 34);
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.gymOwners a:hover {
    background-color: rgb(34, 34, 34);
    color: white;
}

.download a {
    display: inline-block;
    padding: 0px 10px;
    border-radius: 20px;
    border: 2px solid rgb(34, 34, 34);
    background-color: rgb(34, 34, 34);
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.download a:hover {
    background-color: rgb(34, 34, 34);
    color: white;
}

.page {
    color: rgb(34, 34, 34);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;        /* vertical centering */
    justify-content: flex-start; /* push everything left */
    gap: 0px;                  /* space between title and paragraph */
    padding-left: 20px;
    padding-top: 180px;
}
.titleDescription {
    color: black;
    margin: 0;
    font-size: clamp(40px, 6vw, 120px);
}

.motivationalText{
    margin: 0;
    font-size: clamp(15px, 1vw, 50px);
    padding: 0;
    height: auto;
    display: block;
}

body {
    position: relative;
}

#getStarted {
    position: fixed;
    right: 5px;
    top: 95%;
    transform: translateY(-50%);
    display: inline-block;
    padding: 5px 5px;
    border-radius: 500px;
    border: 2px solid rgb(34, 34, 34);
    background: rgb(34, 34, 34);
    color: white;
    font-family: 'Baloo Bhaina 2';
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;

}

#getStarted:hover {
    background-color: rgb(34, 34, 34);
    color: white;
}

.right-box {
    position: fixed;
    right: 10px;
    top: 45%;
    transform: translateY(-50%);

    width: 340px;
    height: 400px;

    background: rgb(200, 200, 200);
    color: rgb(34, 34, 34);

    display: flex;
    flex-direction: column;   /* stack vertically */
    justify-content: center;
    align-items: center;

    text-align: center;
    margin-top: 40px;
}

.right-box p {
    text-align: center;
    line-height: 1;
    margin: 0;
    font-size: 15px;
}
.right-box h2 {
    text-align: center;
    line-height: 1.2;
    margin: 0;
    font-size: 20px;
}

.slide {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.slide.active {
    display: block;
    opacity: 1;
}

.prev, .next {
    position: absolute;
    bottom: 10px;

    background: rgb(34, 34, 34);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.prev { left: 10px; }
.next { right: 10px; }

.dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 6px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: gray;
    cursor: pointer;
}

.dot.active {
    background: rgb(34, 34, 34);
}


/* LOGIN PAGE */


.loginForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 0 auto;
}
.login-header {
    margin: 0;
    font-size: 50px;
}

.loginUsername {
    font-size: 10px;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(34, 34, 34);
}
.loginPassword {
    font-size: 10px;
    text-align: left;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(34, 34, 34);
}

#login-button {
    font-size: 15px;
    text-align: center;
    padding: 0px 0px;
    border-radius: 20px;
    border: 2px solid rgb(34, 34, 34);
    background: rgb(34, 34, 34);
    color: white;
    font-family: 'Baloo Bhaina 2';
    cursor: pointer;
    text-decoration: none;
}

#forgot-password-button {
    font-size: 12px;
    text-align: center;
    padding: 0px 0px;
    border-radius: 500px;
    border: 1px solid rgb(34, 34, 34);
    background: white;
    color: rgb(34, 34, 34);
    font-family: 'Baloo Bhaina 2';
    cursor: pointer;
    text-decoration: none;
}

#no-account-button {
    font-size: 12px;
    text-align: center;
    padding: 0px 0px;
    border-radius: 500px;
    border: 1px solid rgb(34, 34, 34);
    background: white;
    color: rgb(34, 34, 34);
    font-family: 'Baloo Bhaina 2';
    cursor: pointer;
    text-decoration: none;
}

#return-home-button {
    font-size: 12px;
    text-align: center;
    padding: 0px 0px;
    border-radius: 500px;
    border: 1px solid rgb(34, 34, 34);
    background: white;
    color: rgb(34, 34, 34);
    font-family: 'Baloo Bhaina 2';
    cursor: pointer;
    text-decoration: none;
}

#login-button:hover {
    background-color: rgb(34, 34, 34);
    color: white;
}

#no-account-button:hover {
    background-color: rgb(34, 34, 34);
    color: white;
}

#forgot-password-button:hover {
    background-color: rgb(34, 34, 34);
    color: white;
}

#return-home-button:hover {
    background-color: rgb(34, 34, 34);
    color: white;
}

#login {
    width: 400px;
    margin: 100px auto;
    padding: 20px 0 30px;
    border: 2px solid rgb(34, 34, 34);
    border-radius: 25px;
    background: white;
    font-family: 'Baloo Bhaina 2';
}

#login.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

/* WORKOUTS PAGE */

.workout-table {
    border: 2px solid rgb(34, 34, 34);
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    font-family: 'Baloo Bhaina 2';
}

.workout-table th,
.workout-table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #222;
}

.date-row td {
    font-weight: bold;
    background: #eee;
    text-align: left;
}

#workouts.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.nav-item-workout-nav {
    margin: 20px;
    list-style: none;
    font-size: 16px;
    border: 2px solid rgb(34, 34, 34);
    border-radius: 25px;
    background: rgb(34, 34, 34);
}

.nav-item-workout-nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.workout-table tr:last-child td {
    border-bottom: none;
}

/* FOOD PAGE */

.table-row {
  display: flex;
}

.table-container {
  height: 300px;
  overflow-y: auto;
}

.table-container {
  min-width: 200px;
}

.meal-row td {
    font-weight: bold;
    background: #eee;
    text-align: left;
}

.mealTotals{
    font-weight: bold;
    background-color: yellow;
}

th.totalWord{
    text-align: left;
}

.nav-item-food-nav {
    margin: 10px;
    list-style: none;
    font-size: 16px;
    border: 2px solid rgb(34, 34, 34);
    border-radius: 25px;
    background: rgb(34, 34, 34);
    padding: 0px 0px;
}

.nav-item-food-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 0px 10px;
}

.food-navbar ul {
    display: flex;
    justify-content: center;   /* centers the whole row */
    align-items: center;       /* vertical alignment (usually minor here) */
    padding: 0;
    margin: 0;
}

.edit-food-button {
    position: fixed;
    bottom: 20px;
    right: 20px;

    text-decoration: none;
    border: none;
    outline: none;
    background: none;

    font-size: 20px;
    background-color: red;
    color: white;
    border: 1px solid rgb(34, 34, 34);
    padding: 10px 16px;
    border-radius: 25px;
}

.edit-food-button:hover{
    cursor: pointer;
}

.inline-input {
    border: none;
    outline: none;
    background: transparent;

    font-size: 24px;
    font-family: inherit;

    width: 240px;
    padding: 10px;
}



.section {
    display: none;
}

.section.active {
    display: block;
}

html {
    scroll-behavior: smooth;
}

